*{
	
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #ffffff;
}
body{
	background: url(img/bg_2.png), url(img/bg_1.png);
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 12px;
}
.ba-header{
	margin: 26px auto 60px;
	width: 750px;

}
.ba-header__logo{
	float: left;
	width: 40px;
}

.ba-header__nav{

}
.ba-header_menu{
	list-style: none;
	margin: 0;
	padding-left: 0;

}
.ba-header__iteam{
	float: right;
	font-weight: 300;
	padding-left: 30px;
}

.ba-btn {
	border: none;
	outline: none;
	background: none;
}
.ba-header:after {
	content: "";
	clear: both;
	display: block;
}

.ba-main{
	position: relative;
}
.ba-main__block {
	width: 750px;
	height: 428px;
	background-color: #f4f4f4;
	margin: 0 auto;
	z-index: 3;
	left: 0;
	right: 0;
	position: relative;
}
.ba-main__add{
	position: absolute;
	right: 272px;
	top: 335px;
	padding: 0;
	z-index: 7;
}

.ba-main__close{
	position: absolute;
	right: 11px;
	top: 9px;
	padding: 0;
	z-index: 7;
}


.ba__product{
	width: 502px;
	height: 100%;
	float: left;
	position: relative;
}


.ba__sliders{
	position:absolute;
	left: 0;
	right: 0;
	bottom: 23px;
	margin: auto;
}

.ba__sliders ul{
	margin: 0 auto;
	font-size: 0;
	padding-left: 0;
	text-align: center;
}

.ba_img{
	display: inline-block;
	margin-right: 9px;
	margin-left: 9px;
}

.ba__info{
	width: 248px;
	height: 428px;
	float: right;
	background: #ffffff;
	position: relative;
	padding: 43px 0 74px 31px;
	color: #000000;
}

.info__new {
	width: 42px;
	height: 24px;
	background: #ffa60d;
	color: #ffffff;
}

.info__new h4{
	text-transform: uppercase;
	margin: auto;
	padding: 4px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}

.info__about h1{
	width: 172px;
	text-transform: uppercase;
	margin: 10px 0 15px;
	padding: 0;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
}

.info__about h1 span{
	color: #5e4fff;
}

.info__stars{
	display: inline-block;
}

.info__rating h3 {
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	margin: 0;
	padding-right: 14px;
}

.ba-btn__star {
	padding-left: 2px;
	padding-right: 2px;
}

.info__price h2:before{
	content: "$ ";
}

.info__price h2{
	margin: 20px 0 0;
	font-weight: 300;
	font-size: 22px;
}

.info__buying h3{
	font-size: 12px;
	margin: 25px 0 3px;
}

.ba-btn__size{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	margin-right: 15px;
	position: relative;
	left: -6px;
	width: 24px;
	height: 24px;
}

.addtocard{
	width: 118px;
	height: 30px;
	background-color: #a200b8;
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 5px;
}

.wishlist{
	width: 118px;
	height: 30px;
	border: 1px solid #0f0f0f;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	background-color: white;
}

.ba-menu__btn{
	position: relative;
}
.nike {
	position: absolute;
	bottom: 95px;
	right: 0;
}
a:hover{
	background-color: white;
	color:black;
}